
<h1 class="header">Team NDA - Anime Database</h1>

<div id="main-content" class="container-fluid">
    <div class="row">
        <div class="col-first input-group input-group-lg input-group-text">
            <input type="text" id="search" class="form-control"/>
            <span class="input-group-text"><i class="bi-search"></i></span>
        </div>
    </div>
    <div class="row collapse show" role="results">
        <div class="card">
            <div class="card-header">
                Some Bootstrap Card Header
            </div>
            <div class="card-body row">
                <div class="col-md-4">Some content</div>
                <div class="col-md-4">Some content</div>
                <div class="col-md-4">Some content</div>
                <div class="col-md-4">Some content</div>
                <div class="col-md-4">Some content</div>
                <div class="col-md-4">Some content</div>
                <div class="col-md-4">Some content</div>
                <div class="col-md-4">Some content</div>
            </div>
        </div>
    </div>
</div>

