
<h1 class="header">Team NDA - Anime Database</h1>

<div id="main-content" class="container-fluid">
    <div class="row">
        <div class="col-first input-group input-group-lg input-group-text">
            <input type="text" id="search" class="form-control"/>
            <span class="input-group-text"><i class="bi-search"></i></span>
        </div>
    </div>
    <div class="row" role="visualization">
        <div class="">
            <a class="d-flex flex-row" data-bs-toggle="collapse" href="#vis-container">
            <h3 class="flex-grow-1">Visualization</h3>
                <i class="bi-arrows-collapse"></i>
            </a>
        </div>
        <div class="flex-content collapse show" id="vis-container">
            Lorem Ipsum Dolor Sit Amet shenanigans
        </div>
    </div>
    <div class="row" role="results" id="results">
    </div>
</div>

