

<div id="main-content" class="container container-xl gap-3 gap-xl-5">
    <header class="row gap-0 p-3 mt-3 mb-5">
        <h1 class="col text-dark text-decoration-none">
            Anime Database <span class="text-muted">- Team NDA</span>
        </h1>
    </header>
    <div class="row">
        <div class="col input-group input-group-lg input-group-text">
            <input type="text" id="search" class="form-control"/>
            <span class="input-group-text"><i class="bi-search"></i></span>
        </div>
    </div>
    <div class="row" role="banner">
        <div class="col">
            <div class="accordion open" id="visualization">
                <div class="accordion-item p-3">
                    <h1 class="accordion-header" id="vis-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#vis-container" aria-expanded="true" aria-controls="vis-container">
                            Visualization
                        </button>
                    </h1>
                    <div id="vis-container" class="accordion-collapse collapse show" aria-labelledby="vis-header">
                        <div class="nav nav-pills" id="vis-nav">

                        </div>
                        <canvas class="accordion-body" id="vis-canvas">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="p-3">
                <h3>Results</h3>
            </div>
            <div id="results" role="listbox">

            </div>
        </div>
    </div>
</div>

